*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: rgb(47, 129, 73);
    color: #ec9a0cf3;
    display: flex;
    padding: 10px;
}

.cabecalho-nome {
    color: #ec9a0cf3;
    font-weight: 700;
    font-size: 400%;
    display: flex;
    padding-bottom: 10px;
}


.rodape {
    background-color: rgb(47, 129, 73);
    display: flex;
}

.rodape-nome {
    display: flex;
    margin: 50px;
    font-size: larger;
    color: #ec9a0cf3;

}

.agronegocioi {
    width: 50%;
    margin-left: 20%;
    padding-bottom: 10%;
}

.descricao-itexto {
    margin-leftt: 10%;
    font-size: x-large;
    padding-bottom: 5%;
}

.agronegocioii {
    margin-left: 50%;
}

.cabecalho-itenss {
    padding: 10px;
    display: flex;
    color: white;
    padding-inline-end: 10%;
}

.descricaoii {
    
}

.descricao-iitexto {
    font-size: x-large;

}

.mais-baixo {
    margin-bottom: 30;
}

.redesocial {
    width: 5%;
}

.redesociali {
    width: 5%;
}
.redesocialii {
    width: 5%;
}